:root{
    transition: 0.6s;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f0f2f5;
}

/* HEADER --------------------------------------------------------------- */
ul{
    list-style-type: none;
  }

.nav{
    width: 90%;
    height: 70px;
    margin: 0 auto;
    transition: all ease-in-out 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
  }
  .nav.fixed{
    width: 96%;
  }

  #logo{
      width: 50%;
      float: left;
      display: flex;
      align-items: left;
  }
  nav{
      width: 80%;
      float: right;
  }

  nav a{
      margin: 0 30px;
  }

  header{
      box-sizing: border-box;
      text-align: center;
      background: #F2F0F5;
      border-radius: 2px;
      width: 100%;
      position: fixed;
      opacity: 0.97;
  }


  header h1{
    font-family: 'Pacifico', cursive;
    font-weight: 1;
    color: #000;
}
  header li{
      display: inline-block;
  }

  header li a{
      text-decoration: none;
      color: #000;
  }

  header li:hover{

    
    transform: translateY(-4px);
    transition: 0.4s;
  }

  /* DARK & LIGHT CHECKBUTTON ----------------------------- */

  #checkbox-position {
    display: flex;
    align-items: center;
    justify-content: center;

}

.checkbox {
    opacity: 0;
    visibility: hidden;
    position: fixed;
}

.label {
    height: 18px;
    width: 45px;
    background-color: #cccccc;
    display: flex;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px;
}

.ball {
    width: 22px;
    height: 22px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;

    transition: transform 0.2s linear;
}

.checkbox:checked + .label {
    background-color: #000;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
    background-color: #fff;
    opacity: 1;
}

  /* MAIN ------------------------------------- */
  .apresentacao{
      width: 100%;
      display: flex;
      flex-direction: row;
      background: 
      -webkit-linear-gradient(rgba(135, 60, 255, 1), rgba(135, 60, 255, 0.0) 0%),
     -webkit-linear-gradient(-30deg, #666666 50%,  #1a1a1a 0%);
  }
  .saudacao{
     margin-top: 7%;
      margin-left: 5%;
      padding-top: 5%;
  }
  .saudacao h1{
      font-size: 60px;
      font-weight: 500;
  }
  .saudacao h2{
      margin-left: 5rem;
      font-style: italic;
      font-weight: 400;
      color: #f2f5f7;
  }
  .card{
    margin-left: 5%;
    width: 600px;
    height: 590px; 
    margin-top: 5%;

  }
  .card img{
      width: 554px;
      height: 584px;
  }
  .skills{
      width: 100%;
      height: 60rem;
      background: rgb(255,255,255);
      background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(215,215,215,1) 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .mini-card{
      width: 200px;
      border: 5px solid #000;
      border-radius: 10px;
      margin-top: 100px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

  }
  .contato{
      width: 100%;
      height: 40rem;
  }